version: "3.8"
services:
  wso2:
    image: wso2/wso2am:4.3.0
    container_name: wso2-apim
    ports:
      - "9443:9443"
      - "8280:8280"
      - "8243:8243"
    environment:
      - JAVA_OPTS=-Xms512m -Xmx1024m
